*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/** Header-Section Star here**/

#navbar{
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;

}

#nav-logo{
    height: 50px;
    width: 100px;
    
}

#logo{

    background-image: url(assets/amazon_logo.png);
    background-size: cover;
    height:50px; 
    width:100% ; 

}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

#address{
    color: #cccccc;
    font-size: 0.75rem;
    margin-left: 15px;
   
    
}
 #indi{
    font-size: 1rem;
    font-weight: 550;
    margin-left: 4px;


}

#add-icon{
    display: flex;
    align-items: center;
   
 
}

.nav-address{
     padding: 10px;

}

#search-bar{
    padding: 3px;
    width: 100%;
    font-size: 1rem;
   
    
}

#search{
    width:620px ;
    height: 35px;
    display: flex;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    
}

#search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    text-align: center;
    border-right: none;
   
}

#magni{

   width: 44px;
   height: 35px;
   background-color: orange;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   
   
}

span{
    font-size: 0.8rem;

}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
    
}

#search:hover{
    border: 2px solid orange;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#cart{
    
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;

}

#shop{ 
    font-size: 35px;
    
}

#support{
    padding: 10px;
}

#sign.in{
    padding: 20px;
}

#panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#panel-ops p{
    display: inline;
    margin-left: 15px;
   
}

#panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

#panel-deal{
    font-size: 1rem;
}

/** Hero-Section start here**/

#hero-section{
    background-image: url(assets/hero_image.jpg);
    background-size:cover ;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
#hero-msg{
    height: 40px;
    width: 80%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

#hero-msg a{
    color:#007185 ;
    text-decoration: none;
}

/**Box-section start here**/

#box-section{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#e2e7e6;

}


.box{
    margin-top: 15px;
    height: 300px;
    width: 20%;
    background-color: white; 
    padding: 20px 0px 15px;
   
}

#box-img1{
    background-image: url(assets/box1_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box1 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img2{
    background-image: url(assets/box2_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box2 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img3{
    background-image: url(assets/box3_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box3 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img4{
    background-image: url(assets/box4_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box4 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-section{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#e2e7e6;

}


.box{
    margin-top: 15px;
    height: 300px;
    width: 20%;
    background-color: white; 
    padding: 20px 0px 15px;
   
}

#box-img5{
    background-image: url(assets/box5_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box5 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img6{
    background-image: url(assets/box6_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box6 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img7{
    background-image: url(assets/box7_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box7 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

#box-img8{
    background-image: url(assets/box8_image.jpg);
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 200px;
   
}

#box8 a{
    color: #007185;
    font-size: 15px;
    text-decoration: none;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

/** Footer-Section start here **/

#footer-section{
    margin-top: 15px;
}
#foot-panel{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}

#foot-panel2{
    height: 500px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
     
}

#get{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}

#get{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}

#contect{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}

#make{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}

#let{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    display: inline;
}


#li1{
    margin-top: 30px;
   
}
#list1 a{
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #dddddd;
    text-decoration: none;
    
}
#li2{
    margin-top: 30px;
}
    
#list2 a{
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85rem;
    font-weight: 500;
    color: #dddddd;
    text-decoration: none;
    
}

#li3 {

    margin-top: 30px;
    
}
#list3 a{
    display: inline-block;
    margin-top: 10px;
    font-size: 0.85rem;
    font-weight:50;
    color: #dddddd;
    text-decoration: none;
    
}

#li4{
    margin-top: 30px;

    
}
#list4 a{
    display: inline-block;
    margin-top: 10px  ;
    font-style: none;
    font-size:0.85rem ;
    font-weight: 500;
    color: #dddddd;
    text-decoration: none;
    
}

ul {
    list-style: none;

}

#list1 a:hover{
    text-decoration: underline;
}

#list2 a:hover{
    text-decoration: underline;
}

#list3 a:hover{
    text-decoration: underline;
}

#list4 a:hover{
    text-decoration: underline;
}

#foot-panel3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#222f3d;
    border-top:0.5px solid #777777 ;
    height: 70px;


}

#foot-logo{
    margin-top: -15px;
    background-image: url(assets/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

#foot-panel4{
    margin-top: -15px;
    height: 40px;
    background-color: #222f3d;
    color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#condition{
    font-size: 0.5rem;

}
#copyright{
    font-size: 0.9rem;
    padding-top: 5px;
    
}











